.choosed-plan {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.step-content {
    background-color: rgb(248, 249, 254);
}

.selected-addons {
    justify-content: space-around;
}
